<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qudian.pay.ares.dao.mapper.local.PushPlatformMapper" >
  <resultMap id="BaseResultMap" type="com.qudian.pay.ares.dao.entity.local.PushPlatform" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="push_method" property="pushMethod" jdbcType="VARCHAR" />
    <result column="collaboration_platform" property="collaborationPlatform" jdbcType="VARCHAR" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="push_state" property="pushState" jdbcType="VARCHAR" />
    <result column="platform_classification" property="platformClassification" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="opt_user" property="optUser" jdbcType="VARCHAR" />
    <result column="ext_1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext_2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext_3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext_4" property="ext4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, push_method, collaboration_platform, platform_id, push_state, platform_classification, 
    create_time, update_time, opt_user, ext_1, ext_2, ext_3, ext_4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qudian.pay.ares.dao.entity.local.PushPlatformExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from push_platform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from push_platform
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from push_platform
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qudian.pay.ares.dao.entity.local.PushPlatformExample" >
    delete from push_platform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qudian.pay.ares.dao.entity.local.PushPlatform" >
    insert into push_platform (id, push_method, collaboration_platform, 
      platform_id, push_state, platform_classification, 
      create_time, update_time, opt_user, 
      ext_1, ext_2, ext_3, ext_4
      )
    values (#{id,jdbcType=INTEGER}, #{pushMethod,jdbcType=VARCHAR}, #{collaborationPlatform,jdbcType=VARCHAR}, 
      #{platformId,jdbcType=INTEGER}, #{pushState,jdbcType=VARCHAR}, #{platformClassification,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{optUser,jdbcType=VARCHAR}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qudian.pay.ares.dao.entity.local.PushPlatform" >
    insert into push_platform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pushMethod != null" >
        push_method,
      </if>
      <if test="collaborationPlatform != null" >
        collaboration_platform,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="pushState != null" >
        push_state,
      </if>
      <if test="platformClassification != null" >
        platform_classification,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="optUser != null" >
        opt_user,
      </if>
      <if test="ext1 != null" >
        ext_1,
      </if>
      <if test="ext2 != null" >
        ext_2,
      </if>
      <if test="ext3 != null" >
        ext_3,
      </if>
      <if test="ext4 != null" >
        ext_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pushMethod != null" >
        #{pushMethod,jdbcType=VARCHAR},
      </if>
      <if test="collaborationPlatform != null" >
        #{collaborationPlatform,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=INTEGER},
      </if>
      <if test="pushState != null" >
        #{pushState,jdbcType=VARCHAR},
      </if>
      <if test="platformClassification != null" >
        #{platformClassification,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optUser != null" >
        #{optUser,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qudian.pay.ares.dao.entity.local.PushPlatformExample" resultType="java.lang.Integer" >
    select count(*) from push_platform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update push_platform
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pushMethod != null" >
        push_method = #{record.pushMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.collaborationPlatform != null" >
        collaboration_platform = #{record.collaborationPlatform,jdbcType=VARCHAR},
      </if>
      <if test="record.platformId != null" >
        platform_id = #{record.platformId,jdbcType=INTEGER},
      </if>
      <if test="record.pushState != null" >
        push_state = #{record.pushState,jdbcType=VARCHAR},
      </if>
      <if test="record.platformClassification != null" >
        platform_classification = #{record.platformClassification,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.optUser != null" >
        opt_user = #{record.optUser,jdbcType=VARCHAR},
      </if>
      <if test="record.ext1 != null" >
        ext_1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        ext_2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        ext_3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
      <if test="record.ext4 != null" >
        ext_4 = #{record.ext4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update push_platform
    set id = #{record.id,jdbcType=INTEGER},
      push_method = #{record.pushMethod,jdbcType=VARCHAR},
      collaboration_platform = #{record.collaborationPlatform,jdbcType=VARCHAR},
      platform_id = #{record.platformId,jdbcType=INTEGER},
      push_state = #{record.pushState,jdbcType=VARCHAR},
      platform_classification = #{record.platformClassification,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      opt_user = #{record.optUser,jdbcType=VARCHAR},
      ext_1 = #{record.ext1,jdbcType=VARCHAR},
      ext_2 = #{record.ext2,jdbcType=VARCHAR},
      ext_3 = #{record.ext3,jdbcType=VARCHAR},
      ext_4 = #{record.ext4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qudian.pay.ares.dao.entity.local.PushPlatform" >
    update push_platform
    <set >
      <if test="pushMethod != null" >
        push_method = #{pushMethod,jdbcType=VARCHAR},
      </if>
      <if test="collaborationPlatform != null" >
        collaboration_platform = #{collaborationPlatform,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
      <if test="pushState != null" >
        push_state = #{pushState,jdbcType=VARCHAR},
      </if>
      <if test="platformClassification != null" >
        platform_classification = #{platformClassification,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optUser != null" >
        opt_user = #{optUser,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext_1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext_2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext_3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext_4 = #{ext4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qudian.pay.ares.dao.entity.local.PushPlatform" >
    update push_platform
    set push_method = #{pushMethod,jdbcType=VARCHAR},
      collaboration_platform = #{collaborationPlatform,jdbcType=VARCHAR},
      platform_id = #{platformId,jdbcType=INTEGER},
      push_state = #{pushState,jdbcType=VARCHAR},
      platform_classification = #{platformClassification,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      opt_user = #{optUser,jdbcType=VARCHAR},
      ext_1 = #{ext1,jdbcType=VARCHAR},
      ext_2 = #{ext2,jdbcType=VARCHAR},
      ext_3 = #{ext3,jdbcType=VARCHAR},
      ext_4 = #{ext4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByExampleByPage" resultMap="BaseResultMap"
          parameterType="com.qudian.pay.ares.dao.entity.local.PushPlatformExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from push_platform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startLimit != null">
      limit ${startLimit},${pageSize}
    </if>
  </select>
</mapper>