<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
	
	<!-- 控制台appender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p %c - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 业务日志 -->
	<logger name="com.qudian.pay.ares" level="INFO" additivity="false">
		<appender-ref ref="console" />
	</logger>
	
	<!-- dao日志 -->
	<logger name="com.qudian.pay.ares.dao" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger>

	
	<!-- 默认输出日志 -->
	<root level="INFO">
		<appender-ref ref="console" />
	</root>
</configuration>